.result {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 60px;
}
.result h2 {
  border: 2px dashed var(--primary-color);
  padding: 10px 50px;
  align-self: center;
  color: var(--primary-color);
  border-radius: 6px;
}
.result table {
  border-collapse: collapse;
  box-shadow: var(--box-shadow-color);
}
.result table th {
  background-color: rgb(111, 219, 169);
}
.result table th,
.result table td {
  padding: 20px;
  border: 1px solid #000;
  text-align: left;
}
.result table caption {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.7rem;
}
.result table tr:nth-child(even) {
  background-color: lightgray;
}
.result .top {
  display: flex;
  flex-direction: column;
}
