.voting {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 60px;
}
.voting .register {
  align-self: flex-end;
}
.voting h2 {
  text-align: center;
}
.voting form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.05rem;
}
form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form select {
  padding: 20px;
  border-radius: 6px;
  /* border: 1px solid var(--primary-color); */
}
option {
  font-size: 18px;
  background-color: #ffffff;
}
.voting .ctas {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.ctas a {
  color: var(--primary-color);
  border-radius: 6px;
  padding: 10px 30px;
  border: 1px solid var(--primary-color);
  font-weight: 500;
  font-size: 1.05rem;
  cursor: pointer;
  transition: background-color, color, 0.3s;
}
.ctas a:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}
